@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="@($"https://github.com/KristofferStrube/Blazor.FileSystemAccess/blob/main/samples/KristofferStrube.Blazor.FileSystemAccess.WasmExample/Pages/{page}")" target="_blank" style="position: fixed; top: 5px; right: 5px">
                <img src="https://img.shields.io/badge/this%20page%20on%20GitHub-@(page)-green?logo=github" />
            </a>
        </div>

        <article class="content px-4 body-article">
            @Body
        </article>
    </main>
</div>

@code {
    private string relativeUri => NavigationManager.ToBaseRelativePath(NavigationManager.Uri);

    protected string page => (string.IsNullOrEmpty(relativeUri) ? "Index" : relativeUri) + ".razor";
}