@page "/OpenDirectory"
@using KristofferStrube.Blazor.WebIDL
@inject IFileSystemAccessService FileSystemAccessService
@inject IJSRuntime Js;

<PageTitle>File System Access - Open Directory</PageTitle>

@if (handler is null)
{
    <div class="hstack gap-3">
        <label>
            <input type="checkbox" @bind="write" />
            Write permission
        </label>

        <button class="btn btn-primary" @onclick="OpenFolderAsync">Pick directory</button>
    </div>
}
else
{
    <div class="mb-3">
        <button class="btn btn-success" disabled="@(!write)" @onclick="WriteHelloWorldAsync">
            <span>Create @(FileName)</span>

            @if (!write)
            {
                <span> (no write permission)</span>
            }
        </button>
    </div>

    for (int i = 0; i < items.Count; i++)
    {
        <div>
            <span class="oi @(itemKinds[i] == FileSystemHandleKind.Directory ? "oi-folder" : "oi-file")" aria-hidden="true"></span>
            @(itemNames[i])
        </div>
    }
}

@code {
    const string FileName = "HelloWorld.txt";

    bool write;
    FileSystemDirectoryHandle? handler;
    List<IFileSystemHandle> items = new();
    List<FileSystemHandleKind> itemKinds = new();
    List<string> itemNames = new();

    async Task OpenFolderAsync()
    {
        try
        {
            DirectoryPickerOptions options = new() { Mode = write ? FileSystemPermissionMode.ReadWrite : FileSystemPermissionMode.Read };
            handler = await FileSystemAccessService.ShowDirectoryPickerAsync(options);

            await LoadItemsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    async Task LoadItemsAsync()
    {
        await using AsyncIterator<string, FileSystemHandle> iterator = await handler!.EntriesAsync();

        items.Clear();
        itemKinds.Clear();
        itemNames.Clear();
        await foreach ((string name, FileSystemHandle handle) in iterator)
        {
            items.Add(handle);
            itemNames.Add(name);
            itemKinds.Add(await handle.GetKindAsync());
        }
    }

    async Task WriteHelloWorldAsync()
    {
        try
        {
            try
            {
                var existing = await handler!.GetFileHandleAsync(FileName, new()
                    {
                        Create = false,
                    });

                if (existing is not null)
                {
                    await Js.InvokeVoidAsync("alert", "The file is already exist!");
                    return;
                }
            }
            catch (Exception)
            {
                // File does not exist
            }

            var fileHandle = await handler!.GetFileHandleAsync(FileName, new()
                {
                    Create = true,
                });

            await using (var writable = await fileHandle.CreateWritableAsync())
            {
                await using var writer = new StreamWriter(writable);
                await writer.WriteLineAsync("Hello world");
            }

            await LoadItemsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

}
