@page "/"
@inject FileSystemAccessService FileSystemAccessService

<PageTitle>Index</PageTitle>

@if (FileHandle is null)
{
    <button @onclick="OpenFilePicker" class="btn btn-primary">Open File Picker For Single File</button>
}
else
{
    <textarea style="width:100%;height:calc(100% - 6px);" value=@FileText @oninput=TextAreaChanged></textarea>
}


@code {
    protected string FileText = "";

    protected FileSystemFileHandle? FileHandle;

    protected async Task OpenFilePicker()
    {
        try
        {
            var options = new OpenFilePickerOptions() { Multiple = false, StartIn = WellKnownDirectory.Downloads };
            var fileHandles = await FileSystemAccessService.ShowOpenFilePickerAsync(options);
            FileHandle = fileHandles.Single();
        }
        catch (JSException ex)
        {
            Console.WriteLine(ex);
        }
        finally
        {
            if (FileHandle != null)
            {
                Console.WriteLine($"Name: {FileHandle.Name}");
                Console.WriteLine($"Kind: {FileHandle.Kind}");
                Console.WriteLine($"Is Same as Self: {await FileHandle.IsSameEntryAsync(FileHandle)}");
                var file = await FileHandle.GetFileAsync();
                Console.WriteLine($"File Name: {file.Name}");
                Console.WriteLine($"File LastModified: {file.LastModified.ToString()}");
                Console.WriteLine($"File Size: {file.Size}");
                Console.WriteLine($"File Type: {file.Type}");
                FileText = await file.TextAsync();
            }
        }
    }

    protected async Task TextAreaChanged(ChangeEventArgs eventArgs)
    {
        if (FileHandle is not null && eventArgs.Value is string value)
        {
            var writable = await FileHandle.CreateWritableAsync();
            await writable.WriteAsync(value);
            await writable.CloseAsync();
        }
    }
}